.bundle {
    background: #1F2937;
    color: #F9FAF8;
}

.stag {
    justify-content: space-between;
    display: flex;
}

.stag-two {
    display: flex;
}

.container-one {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.container-two {
    display: flex;
    border: 4px solid brown;
}
  
.item {
    border: 4px solid indigo;
    height: 20px;
}

.horus {
    display: flex;
    align-items: center;

}

.horus div {
    display: flex;
    background: red;
    align-items: center;
    border: 4px solid brown;
    color: red;
    height: 300px;
    
}