
/*main box*/
.one {
    display: flex;
    flex-direction: column;
}

/*first box*/
.one-one {
    display:flex;
    flex-direction: column;
}

/*first box top*/
.one-one-one {
    flex-direction: row;
    justify-content: space-between;
}


.one-one-one-two {
    justify-content: space-evenly;
}

/*first box bottom*/
.one-one-two {
    flex-direction: row;
}

.one-one-two-one {
    flex-direction: column;
}

.one-one-two-two {
    align-items: center;
    justify-content: center;
}